.all-components-arrangemnet{
  /* background-color: red; */
  display: flex;
  flex-direction:row;
  align-items: start;
  justify-content: start;
  max-width: 100vw;
  min-height: 100vh;
}

.inner-components{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px; 
}

.cards-chart{

  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.charts{
  display: flex;
  flex-direction: row;
  gap: 34px;
  width: 100%; 
  min-height: 300px;
  flex-wrap: wrap;
}

.cards-extracard{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

}

.other-card{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-left, .card-right {
  background-color: var(--orangeOne);
  width: 500px;
  height: 350px;
  border-radius: 17px;
}

.sidebar {
  background-color: var(--orangeOne);
  width: 248px;
  height: 98vh;
  border-radius: 15px;
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-family: "Inter", sans-serif;
  font-size: small;
  text-decoration: none;
  margin: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;
}

.activeItem {
  background-color: var(--orangeTwo);
}

li:hover:not(.active) {
  background-color:#FFD2B0;
}

a{
  text-decoration: none;
  color:inherit;
 
}

.sidebar-content {
  flex: 1;                
  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;     
  /* gap: 1rem; */
}

.sidebar-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sidebar-item {
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

.sidebar-items {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

/* SIDE BAR INAISHIA HAPAAAA */
/* ------------------------ */

.card-container{
 
  display: flex;
  flex-wrap: nowrap;
}

.card {
  font-family: "Inter", sans-serif;
  background-color: var(--orangeOne);
  border-radius: 12px;
  padding: 1rem;
  width: 210px;   
  height: 120px;  
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 10px rgba(0,0,0,0.02);
  transition: transform 0.2s ease;
  display: flex;            
  flex-direction: column;   
  justify-content: center;  
  align-items: center;   
}

.card:hover {
  background-color: #fff5ec;
  transform: translateY(-1px);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

/* .card-content img {
  align-self: flex-start;
} */

.card-content h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 100;
}

.card-content-2 h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 100;
}

.card-content-2 h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 100;
}

.card-content .description {
  font-size: 13px;
  color: #666;
  margin: 0;
}

.card-content .amount {
  font-family: "Inter", sans-serif;
  font-weight: 550;
  font-size: 24px;
  color:black;
}

/*  *CARDS ENDING HERE JA/

/* ------------- */

.profile-card-contents{
  font-family: 'Inter', sans-serif;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profile-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-item img{
  border-radius: 100%;
  border-color: #E66400;
  border-style: double;
  stroke: #E66400;
  height: 100px;
  width: 100px;
}

.profile-item h5{
font-size: 12px;
color: #E66400;
}

.profile-item h6{
font-size: 10px;
}