.table-wrapper {
  background-color: #ffede0;
  border-radius: 17px;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  width: 609px;
  min-height: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
}

.events-table-wrapper{
   background-color: #ffede0;
  border-radius: 17px;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  width: 1020px;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.table-wrapper h4 {
  font-weight: 500;
  margin-bottom: 15px;
}

.table-container {
  overflow-y: auto;
  overflow-x: auto;
  flex: 1;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffd2b0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-table thead tr {
  background-color: #ffd2b0;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;

  padding: 12px;
  text-align: left;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #fff5ec;
}

.custom-table tbody tr:hover {
  background-color: #ffe4cc;
}

.custom-table th {
  font-weight: 600;
}

.upper-event-container{
background-color: red;
width: 100vw;
height: 50px;
}